html
	include head.pug
	link(rel="stylesheet", href="/stylesheets/home.css")
	script(src="https://kit.fontawesome.com/566f2e2d35.js" crossorigin="anonymous")
	body
		div.main-div

		if isLoggedIn
			a.btn#login-button(href="/logout") Log out
			div.profile-link-div
				a.profile-link(href="/profile/" + username)
					i(class="fas fa-id-card")
				p=username
		else
			a.btn#signup-button(href="/signup") Sign up
			a.btn#login-button(href="/login") Log in

		div.list-div
			ul
				li
					a.btn(href="/dogs/images") Images
				li
					a.btn(href="/dogs/breeds") Breeds
		if success_message != ""
			div.success-message
				p=success_message		

		if usernotfound != ""
			div.error-message
				p=usernotfound
